{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}aboutus{% endblock %}</h1>
{% endblock %}

{% block main %}
<div class="container-fluid p-0">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>About the Website</h1>
        <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
        <p>To see the difference between static and fixed top navbars, just scroll.</p>
      </div>

</div> <!-- /container -->
{% endblock %}